# Eclipse artifacts
.cproject
.project
.settings/

# Editor artifacts
*~

# Make results
postgisdbs.lst
role-create.sql

# May come as a result of CI System local testing
dist/

/pgdata
/test-database
/test-database-create.log
/smartmet-test-db.tar.gz
