# Eclipse artifacts
.cproject
.project
.settings/

# Editor artifacts
*~

# Make results
db-create.sql
db-rest.sql.bz2
drop-all.sql
postgisdbs.lst
role-create.sql
db-dump
db-rest.sql

# May come as a result of CI System local testing
dist/

/pgdata
/tmp
