[Unit]
Description=Smartmet test DB (PostgreSQL database server)
After=network.target

[Service]
Type=forking

User=postgres
Group=postgres

# Port number for server to listen on
Environment=PGPORT=5444

# Location of database directory
Environment=PGDATA=/var/lib/smartmet-test-db

# Where to send early-startup messages from the server (before the logging
# options of postgresql.conf take effect)
# This is normally controlled by the global default set by systemd
# StandardOutput=syslog

# Disable OOM kill on the postmaster
OOMScoreAdjust=-1000

ExecStart=/usr/pgsql-15/bin/pg_ctl start -D ${PGDATA} -s -o "-p ${PGPORT} -k /tmp" -w -t 300
ExecStop=/usr/pgsql-15/bin/pg_ctl stop -D ${PGDATA} -o "-p ${PGPORT} -k /tmp" -s -m fast
ExecReload=/usr/pgsql-15/bin/pg_ctl reload -D ${PGDATA} -o "-p ${PGPORT} -k /tmp" -s

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=300

[Install]
WantedBy=multi-user.target
